header {
  background: hsl(209, 23%, 22%);
}

.header {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2em 0.5em 2em 0.8em;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 600px) {
  .header {
    display: flex;
    flex-direction: row;
    padding: 2em 0.5em 2em 0.8em;
    justify-content: space-between;
  }
}

nav a {
  background-color: #445d74;
  padding: 0.2em 0.75em;
  border-radius: 10px;
  font-size: 1.5rem;
}

.logo {
  font-size: 1.85rem;
}

a:hover {
  color: #8ef9f3;
}
